body {
	margin-top: 2%;
	margin-left: 20%;
	margin-right: 20%;
        background-color: #FFFFFF
}

img#vp{
  float: right;
  vertical-align= top;
  width: 30%;
  border: 1px #000 solid;
}

#leftcolumn {
	width: 15%;
	float: left;
}

#rightcolumn {
	width: 83%;
	float: left;
	margin-left: 2%;
}

#navigation-bar {
	border: 1px #000 solid;
	text-align: center;
  background-color: #521a52;
}
